/* Reset styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
textarea {
  padding: 10px;
  border: 2px solid #000000;
  border-radius: 5px;
  margin-bottom: 10px;
}

input[type="text"]:focus,
input[type="date"]:focus,
textarea:focus {
  border: 2px solid #000000;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #3498db;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #2980b9;
}

/* #post-list {
  margin-top: 20px;
} */

.post {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.post h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.post-meta {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.post-meta a {
  color: #3498db;
  text-decoration: none;
}

.post-buttons {
  margin-top: 10px;
}

.post-buttons a {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.post-buttons a:hover {
  background-color: #2980b9;
}


/* --------------------KL STYLE ADDED----------- */
body {
  background-image: url(images/BG.jpeg);
  background-attachment: fixed;

}

.row1 {
  background-image: url(images/cover2.jpg);
  background-size: cover;
}

.btn{
  background-color:  rgb(77, 111, 137);
  color: #fff;
}
.containerform {
  max-width: 600px;
  margin: 0 auto;
}

.quote {
  font-size: 2rem;
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
}

input#search-input {
  margin: 10px 10px 10px;

}

button#search-btn.btn.btn-outline-light {
  border-color: #000000;
  border-width: 2px;
}
.quote {
  font-size: 2rem;
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
}

#content {
  width: 100%;
  height: auto;
}